{% extends 'base.html' %}
{% load static %}
{% block content %}

<ul class="list-group my-2 mx-2">
  <li class="list-group-item"><h1>About US.</h1></li>
    <br>
    <br>
    {% for k in abouts %}
    <img src="{{k.image.url}}" alt="not available">
    {% endfor %}
  <p><br><br>This is an Ecommerce website in Django. The framework of Python Language, Using Bootstrap, HTML, CSS, PYTHON, Django.
      <br> This is one of the easiest Framework out there in the world to be used for web development.</p>
  <li class="list-group-item" id="bottom"><h1>KEEP UP THE GOOD WORK!!!</h1></li>
</ul>

{% endblock content %}
